.recipe-detail {
  .mdc-list-item--with-one-line {
    display: block;
  }
  max-width: 800px;
  margin: auto;
  padding: 16px;
}
  
  .recipe-image {
    max-width: 100%;
    height: auto;
    margin: 16px 0;
  }
  