/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-list-item {
    height: auto !important;
    min-height: auto !important;
    align-items: flex-start !important;
  }
  
  ::ng-deep .mdc-list-item--with-one-line {
    height: auto !important;
    min-height: auto !important;
    display: flex !important;
  }
  